.head {
  font-size: 80px;
  font-family: cursive;
  color: #4545ff;
  text-align: left;
  float: left;
  width: 20%;
}

.smallerhead {
  font-size: 24px;
  font-family: monospace;
  color: #2222de;
  text-align: left;

  width: 20%;
}

.imgstyle {
  display: block;
  #height: 300px;
  #width: 400px;
  width: 70%;
  float: right;

}

.intro {
  font-size: 36px;
  font-family: fantasy;
}

.body1 {
  font-size: 20px;
  #padding-right: 700px;
}

.boring {
  font-size: 100px;
  color: purple;
  #text-shadow: 10px 10px;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: yellow;
}

.text1 {
  font-size: 25px;
  color: white;
  background-color: black;
}

.sidebar {
  padding-top: 25%;
  height: 200%;
  width: 5%;
  float: left;
  background-color: black;
  color: white;
}

.column {
  float: left;
  width: 25%;
}

.doge {
  width: 45%;
  float: left;
}

.doge2 {
  width: 250px;
  float: right;
}

#column1 {
  margin-top: 165px;
}

#column2 {
  margin-top: 165px;
}

#column3 {
  margin-top: 170px;
}
